APP_ENV=dev

# Base URL (set to your public IP/domain if not localhost)
# DEFAULT_URI=http://localhost

# PostgreSQL
POSTGRES_DB=auditix
POSTGRES_USER=auditix
POSTGRES_PASSWORD=auditix

RABBITMQ_USER=auditix
RABBITMQ_PASSWORD=auditix

WORKER_SCHEDULER_REPLICAS=1
WORKER_MONITORING_REPLICAS=1
WORKER_COLLECTOR_REPLICAS=2
WORKER_GENERATOR_REPLICAS=1
